#Kozmoz

>Design & Development studio, focusing on digital product design, development.

URL: http://kirbycms.kozmoz.local

Generated on: 2025-03-07 09:12:19

## Docs

- [Home](http://kirbycms.kozmoz.local)

- [Projects](http://kirbycms.kozmoz.local/projects) - Focusing on web  design and development projects

- [Prinkl](http://kirbycms.kozmoz.local/projects/prinkl-social-prints) - Prinkl is a social platform letting users print &amp; share posters from their Instagram, Facebook and other digital photos.

- [Pinqloud](http://kirbycms.kozmoz.local/projects/pinqloud) - Pinqloud  provides real time Instagram photo printing service for your events and parties! 

- [Breathespace](http://kirbycms.kozmoz.local/projects/breathespace) - Breathespace is a generative art piece that captures the beauty of the universe in a generative agent based system. Minted on Tezos Blockchain via fxhas.xyz website.

- [NODE Studio](http://kirbycms.kozmoz.local/projects/node-studio-web-design-development) - Architectural Design and Planning studio in  Istanbul, Turkey.

- [Marme Canada](http://kirbycms.kozmoz.local/projects/marme-canada-webdevelopment) - Web design  and CMS development for a Canadian baased marble company. Product catalog and exhibition on web.

- [Kaleidon Probiotics](http://kirbycms.kozmoz.local/projects/kaleidon-probiotics-globbal-websites) - Web design and development for a global pharmacy company. Global Websites for Menarini - Kaleidion Probiotics.

- [Jeff Talks](http://kirbycms.kozmoz.local/projects/jeff-talks) - Blog about Talks on design, technology, art and everyday life

- [Yalın Architects](http://kirbycms.kozmoz.local/projects/yalin-architects) - Website concept for UI design and development with KirbyCMS  for Yalın Architects

- [Cezeri Sun Clock](http://kirbycms.kozmoz.local/projects/cezeri-sun-clock) - Custom hardware interface for controlling presentation timeline.Exhibited in The Extraordinary Machines of Jazari Exhibition Istanbul May-Agu 2019

- [About](http://kirbycms.kozmoz.local/about) - About  

- [Team](http://kirbycms.kozmoz.local/team) - Meet our team!

- [Deniz Elitaş Ölçer](http://kirbycms.kozmoz.local/team/deniz-elitas-olcer) - Buisness Analyst &amp; Managing Partner 

- [İnan Ölçer](http://kirbycms.kozmoz.local/team/inan-olcer) - Visual Communication Designer &amp; Founder Partner    

- [Contact](http://kirbycms.kozmoz.local/contact) - we will return back to you as soon as ppossible

- [Privacy Policy](http://kirbycms.kozmoz.local/privacy)

- [Cookie Policy](http://kirbycms.kozmoz.local/privacy/cookie-policy)

- [Terms & Conditions](http://kirbycms.kozmoz.local/terms)

- [Frequently Asked Questions](http://kirbycms.kozmoz.local/faqs) - Destek servimize hoşgeldiniz...

- [Question one](http://kirbycms.kozmoz.local/faqs/question-one)

- [Question two](http://kirbycms.kozmoz.local/faqs/question-two)

- [This is third question](http://kirbycms.kozmoz.local/faqs/this-is-third-question)

- [Design](http://kirbycms.kozmoz.local/services/design) - Visual communicationUser interfaceUser experiencePhysical interactionBlockchain and NTF's

- [Development](http://kirbycms.kozmoz.local/services/development) - Web developmentAPI developmentIoT applicationsArt installations

- [Idea](http://kirbycms.kozmoz.local/services/idea) - ProductProjectExperimentService

- [Web Design](http://kirbycms.kozmoz.local/tags/web-design) - Web design is good
